@charset "UTF-8";

.signup-container {
	max-width: 400px;
	margin-top: 50px;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primary-custom {
	background-color: #007bff;
	color: #ffffff;
	border: none;
}

.btn-primary-custom:hover {
	background-color: #0056b3;
	color: #ffffff;
}

.form-control {
	background-color: #ffffff;
	border: 1px solid #ced4da;
	color: #495057;
}

.form-control:focus {
	background-color: #ffffff;
	border-color: #007bff;
	color: #495057;
}

.text-center a {
	color: #007bff;
	text-decoration: none;
}

.text-center a:hover {
	color: #0056b3;
	text-decoration: underline;
}